body {
    background: #FAEDCB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.header {
    height: 10rem;
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #312247;
    margin-bottom: 20px;
}

.set-grid {
    height: 50px;
    width: 70px;
    border: 3px solid #F7D9C4;
    border-radius: 1rem;
    background-color: #F7D9C4;
    color: #312247;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    font-weight: bold;
}

.grid {
    border: 3px solid #F7D9C4;
    border-radius: 1rem;
    width: 45rem;
    height: 45rem;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.block {
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.block.active {
    background-color: #C9E4DE;
  }

footer {
    margin-top: 50px;
    color: #312247;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
